body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  color:  #830417;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header h5 {
  padding: 0 10px;
  margin: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  /*background-image: url('https://c2.staticflickr.com/8/7151/6717697085_6d28849226_z.jpg');*/
  /*background-image: url(''); */
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 2px #000000;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  font-size: 24px;
  text-shadow: 2px 2px #000000;
  margin: 0 0 5px;
  color: #fff;
}
.jumbotron h4 {
  font-size: 14px;
  text-shadow: 2px 2px #000000;
  margin: 0 0 10px ;
  color: #fff;
}
.jumbotron p {
  font-size: 65px;
  font-weight: 700;
  text-shadow: 2px 2px #000000;
  margin: 0 0 10px;
  color:  #FFFF00;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: #ffffff;
}

footer {
  font-size: 10px;
  padding: 10px 0;
}

footer .col-xs-12 {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
